In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
data = pd.read_csv("data.csv", encoding='unicode_escape')

In [5]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [6]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [12]:
data.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [13]:
data['Country'].unique

<bound method Series.unique of 0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 541909, dtype: object>

In [14]:
null_values = data.isnull()

In [16]:
# find rows with at least one null value
rows_with_null = data[data.isnull().any(axis=1)]

# print rows with null values
print(rows_with_null)

       InvoiceNo StockCode                      Description  Quantity  \
622       536414     22139                              NaN        56
1443      536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1444      536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2
1445      536544     21786               POLKADOT RAIN HAT          4
1446      536544     21787            RAIN PONCHO RETROSPOT         2
...          ...       ...                              ...       ...
541536    581498    85099B          JUMBO BAG RED RETROSPOT         5
541537    581498    85099C   JUMBO  BAG BAROQUE BLACK WHITE         4
541538    581498     85150    LADIES & GENTLEMEN METAL SIGN         1
541539    581498     85174                S/4 CACTI CANDLES         1
541540    581498       DOT                   DOTCOM POSTAGE         1

            InvoiceDate  UnitPrice  CustomerID         Country
622     12/1/2010 11:52       0.00         NaN  United Kingdom
1443    12/1/2010 14:32       2.51         NaN  United Kingdom
1444    12/1/2010 14:32       2.51         NaN  United Kingdom
1445    12/1/2010 14:32       0.85         NaN  United Kingdom
1446    12/1/2010 14:32       1.66         NaN  United Kingdom
...                 ...        ...         ...             ...
541536  12/9/2011 10:26       4.13         NaN  United Kingdom
541537  12/9/2011 10:26       4.13         NaN  United Kingdom
541538  12/9/2011 10:26       4.96         NaN  United Kingdom
541539  12/9/2011 10:26      10.79         NaN  United Kingdom
541540  12/9/2011 10:26    1714.17         NaN  United Kingdom

[135080 rows x 8 columns]

In [17]:
data['StockCode'].unique

<bound method Series.unique of 0         85123A
1          71053
2         84406B
3         84029G
4         84029E
           ...
541904     22613
541905     22899
541906     23254
541907     23255
541908     22138
Name: StockCode, Length: 541909, dtype: object>

In [18]:
duplicate_rows = data[data.duplicated()]

In [19]:
print("Duplicate Rows (except first occurrence):")
print(duplicate_rows)

Duplicate Rows (except first occurrence):
       InvoiceNo StockCode                        Description  Quantity  \
517       536409     21866        UNION JACK FLAG LUGGAGE TAG         1
527       536409     22866      HAND WARMER SCOTTY DOG DESIGN         1
537       536409     22900    SET 2 TEA TOWELS I LOVE LONDON          1
539       536409     22111       SCOTTIE DOG HOT WATER BOTTLE         1
555       536412     22327  ROUND SNACK BOXES SET OF 4 SKULLS         1
...          ...       ...                                ...       ...
541675    581538     22068        BLACK PIRATE TREASURE CHEST         1
541689    581538     23318     BOX OF 6 MINI VINTAGE CRACKERS         1
541692    581538     22992             REVOLVER WOODEN RULER          1
541699    581538     22694                       WICKER STAR          1
541701    581538     23343       JUMBO BAG VINTAGE CHRISTMAS          1

            InvoiceDate  UnitPrice  CustomerID         Country
517     12/1/2010 11:45       1.25     17908.0  United Kingdom
527     12/1/2010 11:45       2.10     17908.0  United Kingdom
537     12/1/2010 11:45       2.95     17908.0  United Kingdom
539     12/1/2010 11:45       4.95     17908.0  United Kingdom
555     12/1/2010 11:49       2.95     17920.0  United Kingdom
...                 ...        ...         ...             ...
541675  12/9/2011 11:34       0.39     14446.0  United Kingdom
541689  12/9/2011 11:34       2.49     14446.0  United Kingdom
541692  12/9/2011 11:34       1.95     14446.0  United Kingdom
541699  12/9/2011 11:34       2.10     14446.0  United Kingdom
541701  12/9/2011 11:34       2.08     14446.0  United Kingdom

[5268 rows x 8 columns]

In [20]:
# 1. Create a Mapping from StockCode to Description
mapping = data.dropna(subset=['Description']).drop_duplicates('StockCode').set_index('StockCode')['Description'].to_dict()

# 2. Apply Mapping to Fill NaN Descriptions
data['Description'] = data['Description'].fillna(data['StockCode'].map(mapping))

In [21]:
data.isna().sum()

InvoiceNo           0
StockCode           0
Description       112
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [23]:
data.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [24]:
data.to_csv('CleanedECommerceData.csv', index=False)